@use '../../../global/styles/styles-variables' as *;
@use './styles/form-select.variations' as variations;
@use './styles/form-select.variables' as *;
@use './../../../global/styles/utilities' as *;

:host {
  @include digi-form-select--variables;

  .digi-form-select {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    &--neutral {
      @include variations.neutral;
    }

    &--success {
      @include variations.success;
    }

    &--warning {
      @include variations.warning;
    }

    &--error {
      @include variations.error;
    }

    &--small {
      @include variations.small;
    }

    &--medium {
      @include variations.medium;
    }

    &--large {
      @include variations.large;
    }

    &--empty:not(:focus-within) {
      @include variations.empty;
    }

    &__select {
      appearance: none;
      width: var(--digi--form-select--select--width);
      padding: var(--digi--form-select--select--padding);
      padding-inline-end: var(--digi--form-select--select--padding--inline-end);
      height: var(--HEIGHT);
      border: var(--BORDER-WIDTH) solid;
      border-radius: var(--digi--form-select--select--border-radius);
      border-color: var(--BORDER-COLOR);
      cursor: pointer;
      font-size: var(--digi--form-select--select--font-size);
      color: var(--digi--color--text--primary);
      background: var(--BACKGROUND);
      font-family: var(--digi--global--typography--font-family--default);

      &-wrapper {
        position: var(--digi--form-select--select-wrapper--position);
      }

      &-option {
        font-size: var(--digi--form-select--select-option--font-size);

        @media (min-width: $digi--breakpoint--medium) {
          --digi--form-select--select-option--font-size: var(
            --digi--typography--font-size--l
          );
        }
      }

      &::-ms-expand {
        display: none;
      }

      &:focus-visible {
        @include digi--focus();
      }
    }

    &__icon {
      position: absolute;
      inset-inline-end: var(--digi--form-select--icon--inline-end);
      inset-block-start: var(--digi--form-select--icon--top);
      transform: var(--digi--form-select--icon--transform);
      pointer-events: none;
      color: var(--digi--form-select--icon--color);
    }
  }
}

.digi-form-select__footer {
  .digi-form-select--neutral & {
    position: absolute;
  }
}
