<button (click)="changeCurrent()">Ändra current step {{ currentStep }}</button>
<digi-progress-list
  role="list"
  [attr.af-current-step]="currentStep"
  [attr.af-variation]="ProgressListVariation.PRIMARY"
  [attr.af-heading]="'Huvudrubrik'"
  [attr.af-aria-label]="'Min huvudrubrik'"
  [attr.af-heading-level]="ProgressListHeadingLevel.H2"
  [attr.af-type]="ProgressListType.CIRCLE"
  [attr.af-expandable]="true"
  afExpandText="Visa mer"
  afCollapseText="Visa mindre">
  <digi-progress-list-item af-heading="Rubrik 1" af-aria-label="Rubrik 1">
    <h4>Underrubrik</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna
      neque, interdum vel massa eget, condimentum rutrum velit. Sed vitae
      ullamcorper sem.
    </p>
  </digi-progress-list-item>
  <digi-progress-list-item af-heading="Rubrik 2" af-aria-label="Rubrik 2">
    <div>
      <h4>Underrubrik</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna
        neque, interdum vel massa eget, condimentum rutrum velit. Sed vitae
        ullamcorper sem.
      </p>

      <digi-form-input
        af-label="Steg 2 Etikett 1"
        af-variation="medium"
        af-type="text"
        af-validation="neutral">
      </digi-form-input>
      <br />
      <digi-form-input
        af-label="Steg 2 Etikett 2"
        af-variation="medium"
        af-type="text"
        af-validation="neutral">
      </digi-form-input>
      <digi-calendar-datepicker> </digi-calendar-datepicker>
      <digi-form-select-filter
        [attr.af-filter-button-text-label]="'Välj språk'"
        [attr.af-description]="'Beskrivande text'"
        [attr.af-filter-button-text]="'Inget språk valt'"
        [attr.af-submit-button-text]="'Filtrera'"
        [attr.af-multiple-items]="false"
        [attr.af-validation]="FormSelectFilterValidation.NEUTRAL"
        afName="Välj spårk"
        afListItems="{{ listItems }}">
      </digi-form-select-filter>
    </div>
  </digi-progress-list-item>
  <digi-progress-list-item af-heading="Rubrik 3" af-aria-label="Rubrik 3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna neque,
    interdum vel massa eget, condimentum rutrum velit. Sed vitae ullamcorper
    sem.
  </digi-progress-list-item>
</digi-progress-list>

<digi-progress-list
  role="list"
  [attr.af-current-step]="1"
  [attr.af-variation]="ProgressListVariation.PRIMARY"
  [attr.af-heading]="'Test med bugg för datumväljaren'"
  [attr.af-heading-level]="ProgressListHeadingLevel.H2"
  [attr.af-type]="ProgressListType.ICON"
  [attr.af-expandable]="true">
  <digi-progress-list-item af-heading="Rubrik 1" af-aria-label="Rubrik 1">
    <digi-calendar-datepicker> </digi-calendar-datepicker>
  </digi-progress-list-item>
  <digi-progress-list-item af-heading="Rubrik 2" af-aria-label="Rubrik 2">
    <div>
      <h4>Underrubrik</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna
        neque, interdum vel massa eget, condimentum rutrum velit. Sed vitae
        ullamcorper sem.
      </p>

      <digi-form-input
        af-label="Steg 2 Etikett 1"
        af-variation="medium"
        af-type="text"
        af-validation="neutral">
      </digi-form-input>
      <br />
      <digi-form-input
        af-label="Steg 2 Etikett 2"
        af-variation="medium"
        af-type="text"
        af-validation="neutral">
      </digi-form-input>
      <digi-calendar-datepicker> </digi-calendar-datepicker>
      <digi-form-select-filter
        [attr.af-filter-button-text-label]="'Välj språk'"
        [attr.af-description]="'Beskrivande text'"
        [attr.af-filter-button-text]="'Inget språk valt'"
        [attr.af-submit-button-text]="'Filtrera'"
        [attr.af-multiple-items]="false"
        [attr.af-validation]="FormSelectFilterValidation.NEUTRAL"
        afName="Välj spårk"
        afListItems="{{ listItems }}">
      </digi-form-select-filter>
    </div>
  </digi-progress-list-item>
  <digi-progress-list-item af-heading="Rubrik 3" af-aria-label="Rubrik 3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna neque,
    interdum vel massa eget, condimentum rutrum velit. Sed vitae ullamcorper
    sem.
    <digi-form-input
      af-label="Steg 3 Etikett 1"
      af-variation="medium"
      af-type="text"
      af-validation="neutral">
    </digi-form-input>
    <br />
    <digi-form-input
      af-label="Steg 3 Etikett 2"
      af-variation="medium"
      af-type="text"
      af-validation="neutral">
    </digi-form-input>
  </digi-progress-list-item>
</digi-progress-list>
