@mixin small() {
  --FONT-SIZE: var(--digi--button--font-size--small);
  --PADDING: var(--digi--button--padding--small);
  --MIN-HEIGHT: var(--digi--button--min-height--small);
}

@mixin medium() {
  --FONT-SIZE: var(--digi--button--font-size--medium);
  --PADDING: var(--digi--button--padding--medium);
  --MIN-HEIGHT: var(--digi--button--min-height--small);
}

@mixin large() {
  --FONT-SIZE: var(--digi--button--font-size--large);
  --PADDING: var(--digi--button--padding--large);
  --MIN-HEIGHT: var(--digi--button--min-height--large);
}

@mixin full-width() {
  --digi--button--width: 100%;
  --digi--button--text-align--default: var(
    --digi--button--text-align--full-width
  );
  --digi--button--justify-content--default: var(
    --digi--button--justify-content--full-width
  );
}

@mixin primary() {
  --COLOR--BACKGROUND--DEFAULT: var(
    --digi--button--color--background--primary--default
  );
  --COLOR--BACKGROUND--HOVER: var(
    --digi--button--color--background--primary--hover
  );
  --COLOR--BACKGROUND--FOCUS: var(
    --digi--button--color--background--primary--focus
  );
  --COLOR--BACKGROUND--ACTIVE: var(
    --digi--button--color--background--primary--active
  );
  --COLOR--TEXT--DEFAULT: var(--digi--button--color--text--primary--default);
  --COLOR--TEXT--HOVER: var(--digi--button--color--text--primary--hover);
  --COLOR--TEXT--FOCUS: var(--digi--button--color--text--primary--focus);
  --COLOR--TEXT--ACTIVE: var(--digi--button--color--text--primary--active);
  --COLOR--ICON--DEFAULT: var(--digi--button--color--icon--primary--default);
  --COLOR--ICON--HOVER: var(--digi--button--color--icon--primary--hover);
  --COLOR--ICON--FOCUS: var(--digi--button--color--icon--primary--focus);
  --COLOR--ICON--ACTIVE: var(--digi--button--color--icon--primary--active);
  --COLOR--BORDER--DEFAULT: var(
    --digi--button--color--border--primary--default
  );
  --COLOR--BORDER--HOVER: var(--digi--button--color--border--primary--hover);
  --COLOR--BORDER--FOCUS: var(--digi--button--color--border--primary--focus);
  --COLOR--BORDER--ACTIVE: var(--digi--button--color--border--primary--active);
  --BORDER-RADIUS--DEFAULT: var(
    --digi--button--border-radius--primary--default
  );
  --BORDER-RADIUS--HOVER: var(--digi--button--border-radius--primary--hover);
  --BORDER-RADIUS--FOCUS: var(--digi--button--border-radius--primary--focus);
  --BORDER-RADIUS--ACTIVE: var(--digi--button--border-radius--primary--active);
  --BORDER-WIDTH--DEFAULT: var(--digi--button--border-width--primary--default);
  --BORDER-WIDTH--HOVER: var(--digi--button--border-width--primary--hover);
  --BORDER-WIDTH--FOCUS: var(--digi--button--border-width--primary--focus);
  --BORDER-WIDTH--ACTIVE: var(--digi--button--border-width--primary--active);
  --BORDER-STYLE--DEFAULT: var(--digi--button--border-style--primary--default);
  --BORDER-STYLE--HOVER: var(--digi--button--border-style--primary--hover);
  --BORDER-STYLE--FOCUS: var(--digi--button--border-style--primary--focus);
  --BORDER-STYLE--ACTIVE: var(--digi--button--border-style--primary--active);
  --FONT-WEIGHT: var(--digi--button--font-weight--default);
}

@mixin secondary() {
  --COLOR--BACKGROUND--DEFAULT: var(
    --digi--button--color--background--secondary--default
  );
  --COLOR--BACKGROUND--HOVER: var(
    --digi--button--color--background--secondary--hover
  );
  --COLOR--BACKGROUND--FOCUS: var(
    --digi--button--color--background--secondary--focus
  );
  --COLOR--BACKGROUND--ACTIVE: var(
    --digi--button--color--background--secondary--active
  );
  --COLOR--TEXT--DEFAULT: var(--digi--button--color--text--secondary--default);
  --COLOR--TEXT--HOVER: var(--digi--button--color--text--secondary--hover);
  --COLOR--TEXT--FOCUS: var(--digi--button--color--text--secondary--focus);
  --COLOR--TEXT--ACTIVE: var(--digi--button--color--text--secondary--active);
  --COLOR--ICON--DEFAULT: var(--digi--button--color--icon--secondary--default);
  --COLOR--ICON--HOVER: var(--digi--button--color--icon--secondary--hover);
  --COLOR--ICON--FOCUS: var(--digi--button--color--icon--secondary--focus);
  --COLOR--ICON--ACTIVE: var(--digi--button--color--icon--secondary--active);
  --COLOR--BORDER--DEFAULT: var(
    --digi--button--color--border--secondary--default
  );
  --COLOR--BORDER--HOVER: var(--digi--button--color--border--secondary--hover);
  --COLOR--BORDER--FOCUS: var(--digi--button--color--border--secondary--focus);
  --COLOR--BORDER--ACTIVE: var(
    --digi--button--color--border--secondary--active
  );
  --BORDER-RADIUS--DEFAULT: var(
    --digi--button--border-radius--secondary--default
  );
  --BORDER-RADIUS--HOVER: var(--digi--button--border-radius--secondary--hover);
  --BORDER-RADIUS--FOCUS: var(--digi--button--border-radius--secondary--focus);
  --BORDER-RADIUS--ACTIVE: var(
    --digi--button--border-radius--secondary--active
  );
  --BORDER-WIDTH--DEFAULT: var(
    --digi--button--border-width--secondary--default
  );
  --BORDER-WIDTH--HOVER: var(--digi--button--border-width--secondary--hover);
  --BORDER-WIDTH--FOCUS: var(--digi--button--border-width--secondary--focus);
  --BORDER-WIDTH--ACTIVE: var(--digi--button--border-width--secondary--active);
  --BORDER-STYLE--DEFAULT: var(
    --digi--button--border-style--secondary--default
  );
  --BORDER-STYLE--HOVER: var(--digi--button--border-style--secondary--hover);
  --BORDER-STYLE--FOCUS: var(--digi--button--border-style--secondary--focus);
  --BORDER-STYLE--ACTIVE: var(--digi--button--border-style--secondary--active);
  --FONT-WEIGHT: var(--digi--button--font-weight--default);
}

@mixin function() {
  --COLOR--BACKGROUND--DEFAULT: var(
    --digi--button--color--background--function--default
  );
  --COLOR--BACKGROUND--HOVER: var(
    --digi--button--color--background--function--hover
  );
  --COLOR--BACKGROUND--FOCUS: var(
    --digi--button--color--background--function--focus
  );
  --COLOR--BACKGROUND--ACTIVE: var(
    --digi--button--color--background--function--active
  );
  --COLOR--TEXT--DEFAULT: var(--digi--button--color--text--function--default);
  --COLOR--TEXT--HOVER: var(--digi--button--color--text--function--hover);
  --COLOR--TEXT--FOCUS: var(--digi--button--color--text--function--focus);
  --COLOR--TEXT--ACTIVE: var(--digi--button--color--text--function--active);
  --COLOR--ICON--DEFAULT: var(--digi--button--color--icon--function--default);
  --COLOR--ICON--HOVER: var(--digi--button--color--icon--function--hover);
  --COLOR--ICON--FOCUS: var(--digi--button--color--icon--function--focus);
  --COLOR--ICON--ACTIVE: var(--digi--button--color--icon--function--active);
  --COLOR--BORDER--DEFAULT: var(
    --digi--button--color--border--function--default
  );
  --COLOR--BORDER--HOVER: var(--digi--button--color--border--function--hover);
  --COLOR--BORDER--FOCUS: var(--digi--button--color--border--function--focus);
  --COLOR--BORDER--ACTIVE: var(--digi--button--color--border--function--active);
  --BORDER-RADIUS--DEFAULT: var(
    --digi--button--border-radius--function--default
  );
  --BORDER-RADIUS--HOVER: var(--digi--button--border-radius--function--hover);
  --BORDER-RADIUS--FOCUS: var(--digi--button--border-radius--function--focus);
  --BORDER-RADIUS--ACTIVE: var(--digi--button--border-radius--function--active);
  --BORDER-WIDTH--DEFAULT: var(--digi--button--border-width--function--default);
  --BORDER-WIDTH--HOVER: var(--digi--button--border-width--function--hover);
  --BORDER-WIDTH--FOCUS: var(--digi--button--border-width--function--focus);
  --BORDER-WIDTH--ACTIVE: var(--digi--button--border-width--function--active);
  --BORDER-STYLE--DEFAULT: var(--digi--button--border-style--function--default);
  --BORDER-STYLE--HOVER: var(--digi--button--border-style--function--hover);
  --BORDER-STYLE--FOCUS: var(--digi--button--border-style--function--focus);
  --BORDER-STYLE--ACTIVE: var(--digi--button--border-style--function--active);
  --FONT-WEIGHT: var(--digi--button--font-weight--function);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
