:host {
  display: block;

  .digi-docs-design-pattern {
    &__columns {
      display: block;
      padding-top: var(--digi--padding--largest-3);
      padding-bottom: var(--digi--padding--large);
      --digi--layout-columns--gap--column: var(--digi--padding--largest);
      --digi--layout-columns--gap--row: var(--digi--padding--largest-2);
    }
  }

  .pattern {
    background-color: #ffffff;
    padding: var(--digi--padding--large);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .h_line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}
