:host {
  display: block;

  /*.digi-docs-about-design-pattern-loaders {

  }*/

  .loaders__table__container {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
  }

  .loaders__table__title {
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 32px;
  }

  .loaders__table__item-examples:first-child {
    padding-right: --digi--padding--large;
  }

  .loaders__table__item {
    display: grid;
    grid-template-columns: 15% 20% 20% 20%;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    padding-top: 32px;
    padding-bottom: 16px;
    &__text {
      padding-bottom: 56px;
      padding-right: 40px;
    }
    &__image {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__last {
      display: grid;
      grid-template-columns: 15% 20% 48.5%;
      padding-top: 32px;
      padding-bottom: 16px;
      justify-content: space-between;
      &__image {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .loaders__table__item__cell__text_title {
      --FONT-SIZE--BODY: var(
        --digi--typography--tag--font-size--mobile
      ) !important;
    }
    h4 {
      margin-top: 0px !important;
    }
  }
  .loaders__table__item:first-child {
    padding-top: 32px;
  }
}
