@mixin digi-badge-status--variables() {
	--digi--badge-status--color--primary: var(--digi--color--text--inverted);
	--digi--badge-status--color--secondary: var(--digi--global--color--neutral--grayscale--darkest-6);

	--digi--badge-status--background-color--approved--primary: var(--digi--global--color--function--success--dark); 
	--digi--badge-status--background-color--approved--secondary: var(--digi--global--color--function--success--lightest-2);  

	--digi--badge-status--background-color--denied--primary: var(--digi--global--color--function--danger--dark); 
	--digi--badge-status--background-color--denied--secondary: var(--digi--global--color--function--danger--lightest-2);

	--digi--badge-status--background-color--missing--primary: var(--digi--global--color--function--warning--dark);  
	--digi--badge-status--background-color--missing--secondary: var(--digi--global--color--function--warning--lightest);
	// --digi--badge-status--color--missing: var(--digi--global--color--neutral--grayscale--darkest-6);  
	--digi--badge-status--color--missing: var(--digi--global--color--function--warning--darkest);

	--digi--badge-status--background-color--prompt--primary: var(--digi--color--background--inverted-6);
	--digi--badge-status--background-color--prompt--secondary: var(--digi--global--color--function--info--lightest-3);  

	--digi--badge-status--background-color--beta--primary: var(--digi--color--background--complementary-2);
	--digi--badge-status--background-color--beta--secondary: var(--digi--global--color--neutral--grayscale--lightest);  

	--digi--badge-status--background-color--neutral--primary: var(--digi--color--background--neutral-4);
	--digi--badge-status--background-color--neutral--secondary: var(--digi--global--color--neutral--grayscale--lightest);
}

/** Do not touch! Autogenerated 
* @prop --digi--badge-status--color--primary: var(--digi--color--text--inverted);
* @prop --digi--badge-status--color--secondary: var(--digi--global--color--neutral--grayscale--darkest-6);
* @prop --digi--badge-status--background-color--approved--primary: var(--digi--global--color--function--success--dark);
* @prop --digi--badge-status--background-color--approved--secondary: var(--digi--global--color--function--success--lightest-2);
* @prop --digi--badge-status--background-color--denied--primary: var(--digi--global--color--function--danger--dark);
* @prop --digi--badge-status--background-color--denied--secondary: var(--digi--global--color--function--danger--lightest-2);
* @prop --digi--badge-status--background-color--missing--primary: var(--digi--global--color--function--warning--dark);
* @prop --digi--badge-status--background-color--missing--secondary: var(--digi--global--color--function--warning--lightest);
* @prop // --digi--badge-status--color--missing: var(--digi--global--color--neutral--grayscale--darkest-6);
* @prop --digi--badge-status--color--missing: var(--digi--global--color--function--warning--darkest);
* @prop --digi--badge-status--background-color--prompt--primary: var(--digi--color--background--inverted-6);
* @prop --digi--badge-status--background-color--prompt--secondary: var(--digi--global--color--function--info--lightest-3);
* @prop --digi--badge-status--background-color--beta--primary: var(--digi--color--background--complementary-2);
* @prop --digi--badge-status--background-color--beta--secondary: var(--digi--global--color--neutral--grayscale--lightest);
* @prop --digi--badge-status--background-color--neutral--primary: var(--digi--color--background--neutral-4);
* @prop --digi--badge-status--background-color--neutral--secondary: var(--digi--global--color--neutral--grayscale--lightest);
*/