@import '../../../../global/styles-variables';

.page-navigation {
  @media screen and (max-width: $digi--global--breakpoint--large) {
    display: none;
  }
}

.list {
  padding: 0;
  margin: 0 0 0 var(--digi--padding--small);

  > li {
    > a {
      display: inline-block;
      padding: var(--digi--gutter--smaller) 0;
    }
  }
}

.page-content > h2 {
  position: relative;
  margin-block-start: var(--digi--margin--text-large) !important;
  // margin-block-end: var(--digi--margin--large) !important;
}
