<digi-header af-system-name="Designsystem" af-menu-button-text="Meny">
  <a [routerLink]="['/']" class="header__logo-link" slot="header-logo">
    <digi-logo af-system-name="Designsystem"></digi-logo>
  </a>
  <div slot="header-content">
    <digi-header-notification af-notification-amount="8">
      <a href="/">
        <digi-icon-bell-filled></digi-icon-bell-filled>
        Notiser
      </a>
    </digi-header-notification>
    <digi-header-avatar
      afSrc="https://media.licdn.com/dms/image/C4E03AQFpLZzvprNwTA/profile-displayphoto-shrink_800_800/0/1517354108427?e=1699488000&v=beta&t=QQ4Eam7y-seMXvIRTAA19kpeoXrQ8-iI60a6Ts-vTEs"
      afAlt="Profilbild på Jonas Dahlin"
      afName="Jonas Dahlin"
      afSignature="DAHJS"
      afIsLoggedIn="{true}"
      afHideSignature="{true}"></digi-header-avatar>
  </div>

  <div slot="header-navigation">
    <digi-header-navigation
      afCloseButtonText="Stäng"
      afCloseButtonAriaLabel="Stäng meny"
      afNavAriaLabel="Huvudmeny"
      afBackdrop="{true}">
      <ng-container *ngFor="let navItem of navItems">
        <digi-header-navigation-item
          [attr.af-current-page]="isActiveRoute(navItem.path)">
          <a [routerLink]="[navItem.path]">{{ navItem.label }}</a>
        </digi-header-navigation-item>
      </ng-container>
    </digi-header-navigation>
  </div>
</digi-header>
