@use './../../../global/styles/utilities' as *;

@mixin defaultVariation() {
  --digi--dropdown--background-color: white;
  --digi--dropdown--text-color: rgb(15, 15, 20);
  --digi--dropdown--py: 0.5rem;
  --digi--dropdown--border-radius: 6px;
  --digi--dropdown--box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 6px 0px;
  --digi--dropdown--spacing: 0.25rem;

  --digi--dropdown--item--font-family: 'Open Sans';
  --digi--dropdown--item--font-weight: regular;

  --digi--dropdown--item--pl: 1rem;
  --digi--dropdown--item--pr: 1rem;
  --digi--dropdown--item--py: 0.25rem;

  --digi--dropdown--item--background-color--hover: rgb(237, 237, 237);

  --digi--dropdown--item--background-color--active: rgb(237, 237, 237);
  --digi--dropdown--item--font-weight--active: 600;

  --digi--dropdown--item--box-shadow--focus: 0px 0px 0px 1px black,
    0px 0px 0px 2px white, 0px 0px 0px 3px black;
}

.dropdown {
  @include defaultVariation;

  a {
    // reset
    text-decoration: none;
    color: inherit;
  }

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--digi--dropdown--spacing);
    background-color: var(--digi--dropdown--background-color);
    color: var(--digi--dropdown--text-color);
    padding-top: var(--digi--dropdown--py);
    padding-bottom: var(--digi--dropdown--py);
    border-radius: var(--digi--dropdown--border-radius);
    box-shadow: var(--digi--dropdown--box-shadow);

    &--dir-rtl .option-wrapper {
      flex-direction: row-reverse;
    }
  }

  .option-wrapper {
    font-family: var(--digi--dropdown--item--font-family);
    padding-top: var(--digi--dropdown--item--py);
    padding-bottom: var(--digi--dropdown--item--py);

    &--active {
      background-color: var(--digi--dropdown--item--background-color--active);
      font-weight: var(--digi--dropdown--item--font-weight--active);
    }

    &[dir='rtl'] {
      flex-direction: row-reverse;
    }

    &:hover {
      background-color: var(--digi--dropdown--item--background-color--hover);
      cursor: pointer;
    }

    &:focus-visible {
      @include digi--focus--inset();
    }
  }
}
