@use './styles/badge-status.variations' as variations;
@use './styles/badge-status.variables' as *;
@use '../../../global/styles/utilities' as *;
:host {
  @include digi-badge-status--variables;
  --BORDER: var(--digi--border-width--secondary) solid transparent;

  .digi-badge-status {
    display: inline-flex;
    align-items: center;
    height: #{rem(24)};
    border-radius: var(--digi--global--border-radius--base);
    padding-left: #{rem(8)};
    padding-right: #{rem(8)};
    font-size: var(--digi--global--typography--font-size--small);
    border: var(--BORDER);
    color: var(--COLOR);
    background-color: var(--BACKGROUND-COLOR);
    box-sizing: border-box;

    &--approved {
      &--primary {
        @include variations.approved-primary;
      }
      &--secondary {
        @include variations.approved-secondary;
      }
    }

    &--denied {
      &--primary {
        @include variations.denied-primary;
      }
      &--secondary {
        @include variations.denied-secondary;
      }
    }
    &--missing {
      &--primary {
        @include variations.missing-primary;
      }
      &--secondary {
        @include variations.missing-secondary;
      }
    }
    &--prompt {
      &--primary {
        @include variations.prompt-primary;
      }
      &--secondary {
        @include variations.prompt-secondary;
      }
    }
    &--beta {
      &--primary {
        @include variations.beta-primary;
      }
      &--secondary {
        @include variations.beta-secondary;
      }
    }
    &--neutral {
      &--primary {
        @include variations.neutral-primary;
      }
      &--secondary {
        @include variations.neutral-secondary;
      }
    }

    &__text {
      text-align: center;
      font-family: var(--digi--global--typography--font-family--default);
    }

    &--small {
      height: #{rem(20)};
      padding-left: #{rem(7)};
      padding-right: #{rem(7)};
      font-size: var(--digi--global--typography--font-size--smaller);
    }
  }
}
