@mixin neutral() {
  --BORDER-WIDTH: var(
    --digi--form-select-filter--toggle-button--border-width--neutral
  );
  --BORDER-COLOR: var(
    --digi--form-select-filter--toggle-button--border-color--neutral
  );
  --BACKGROUND: var(
    --digi--form-select-filter--toggle-button--background--neutral
  );
}

@mixin success() {
  --BORDER-WIDTH: var(
    --digi--form-select-filter--toggle-button--border-width--success
  );
  --BORDER-COLOR: var(
    --digi--form-select-filter--toggle-button--border-color--success
  );
  --BACKGROUND: var(
    --digi--form-select-filter--toggle-button--background--success
  );
}

@mixin warning() {
  --BORDER-WIDTH: var(
    --digi--form-select-filter--toggle-button--border-width--warning
  );
  --BORDER-COLOR: var(
    --digi--form-select-filter--toggle-button--border-color--warning
  );
  --BACKGROUND: var(
    --digi--form-select-filter--toggle-button--background--warning
  );
}

@mixin error() {
  --BORDER-WIDTH: var(
    --digi--form-select-filter--toggle-button--border-width--error
  );
  --BORDER-COLOR: var(
    --digi--form-select-filter--toggle-button--border-color--error
  );
  --BACKGROUND: var(
    --digi--form-select-filter--toggle-button--background--error
  );
}
