@mixin digi-form-select-filter--variables() {
  --digi--form-select-filter--footer--background: var(--digi--color--background--secondary);
  --digi--form-select-filter--scroll--max-height: 10.625rem;

  --digi--form-select-filter--scroll--padding: var(--digi--padding--small);
  --digi--form-select-filter--reset-button--margin-right: var(--digi--padding--small);
  --digi--form-select-filter--legend__border-bottom: var(--digi--border-width--primary) solid var(--digi--color--border--neutral-2);
  --digi--form-select-filter--list--margin: 0;
  --digi--form-select-filter--list--padding: var(--digi--gutter--small) 0 0 0;
  --digi--form-select-filter--item--margin: var(--digi--gutter--small) 0;
  --digi--form-select-filter--toggle-icon--transition: ease-in-out 0.2s all;

  --digi--form-select-filter--dropdown--box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.7);
  --digi--form-select-filter--dropdown--border-radius: var(--digi--border-radius--input);
  --digi--form-select-filter--dropdown--background: var(--digi--color--background--primary);
  --digi--form-select-filter--dropdown--min-width: 18.75rem;
  --digi--form-select-filter--dropdown--margin-top: var(--digi--gutter--small);
  --digi--form-select-filter--dropdown--z-index: 999;

  --digi--form-select-filter--dropdown--header--background: var(--digi--color--border--neutral-2);

  --digi--form-select-filter--dropdown--item--cursor: pointer;
  --digi--form-select-filter--dropdown--item--height: auto;
  --digi--form-select-filter--dropdown--item--min-height: 1.5rem;
  --digi--form-select-filter--dropdown--item--color: var(--digi--color--text--primary);
  --digi--form-select-filter--dropdown--item--font-size: var(--digi--typography--body--font-size--desktop);
  --digi--form-select-filter--dropdown--item--font-family: var(--digi--global--typography--font-family--default);
  --digi--form-select-filter--dropdown--item--font-weight--default: var(--digi--typography--link--font-weight--desktop);
  --digi--form-select-filter--dropdown--item--font-weight--selected: var(--digi--typography--link-bold--font-weight--desktop);
  --digi--form-select-filter--dropdown--item--font-weight--hover: var(--digi--typography--link-bold--font-weight--desktop);
  --digi--form-select-filter--dropdown--item--letter-spacing: 0px;
  --digi--form-select-filter--dropdown--item--line-height: 1.5;
  --digi--form-select-filter--dropdown--item--margin-bottom: 0px;

  --digi--form-select-filter--dropdown--item--border-width: var(--digi--border-width--primary);
  --digi--form-select-filter--dropdown--item--border-type: var(--digi--border-style--primary);
  --digi--form-select-filter--dropdown--item--border-color: var(--digi--color--border--neutral-2); //#CACACA i design

  --digi--form-select-filter--dropdown--item--padding-y: var(--digi--margin--small);
  --digi--form-select-filter--dropdown--item--padding-x: var(--digi--margin--largest);

  --digi--form-select-filter--dropdown--item--multiple--padding-y: var(--digi--margin--small);
  --digi--form-select-filter--dropdown--item--multiple--padding-x: var(--digi--padding--largest-2);

  --digi--form-select-filter--dropdown--item--background-color--default: var(--digi--color--background--primary);
  --digi--form-select-filter--dropdown--item--background-color--focus: var(--digi--color--background--neutral-6);
  --digi--form-select-filter--dropdown--item--background-color--hover: var(--digi--color--background--neutral-6);
  --digi--form-select-filter--dropdown--item--background-color--active: var(--digi--color--background--neutral-6);
  --digi--form-select-filter--dropdown--item--background-color--selected: var(--digi--color--background--neutral-6);

  --digi--form-select-filter--dropdown--item--checkbox--background-color: var(--digi--color--background--primary);
  --digi--form-select-filter--dropdown--item--checkbox--border-color: var(--digi--color--border--primary);
  --digi--form-select-filter--dropdown--item--checkbox--border-width: var(--digi--border-width--primary);
  --digi--form-select-filter--dropdown--item--checkbox--border-style: var(--digi--border-style--primary);
  --digi--form-select-filter--dropdown--item--checkbox--border-radius: var(--digi--border-radius--tertiary);
  --digi--form-select-filter--dropdown--item--checkbox--width: 1.25rem;
  --digi--form-select-filter--dropdown--item--checkbox--height: 1.25rem;

  --digi--form-select-filter--toggle-button-indicator--color--default: transparent;
  --digi--form-select-filter--toggle-button-indicator--color--active: var(--digi--color--border--success);
  --digi--form-select-filter--toggle-button-indicator--width: 1rem;
  --digi--form-select-filter--toggle-button-indicator--height: 1rem;
  --digi--form-select-filter--toggle-button-indicator--margin-right: var(--digi--margin--small);
  --digi--form-select-filter--toggle-button-indicator--margin-left: calc(var(--digi--margin--smaller) * -1);
  --digi--form-select-filter--toggle-button--text--margin-right: var(--digi--margin--smaller);
  --digi--form-select-filter--toggle-button-indicator--color: var(--digi--color--background--success-1);
  --digi--form-select-filter--toggle-icon--width: 0.875rem;
  --digi--form-select-filter--toggle-icon--height: 0.875rem;

  --digi--form-select-filter--search-input--border-radius: var(--digi--border-radius--input);
  --digi--form-select-filter--search-input--border-width: var(--digi--border-width--input-regular);
  --digi--form-select-filter--search-input--border-style: var(--digi--border-style--primary);
  --digi--form-select-filter--search-input--border-color: var(--digi--form-select-filter--toggle-button--border-width--neutral);
  --digi--form-select-filter--search-input--height: var(--digi--input-height--medium);
  --digi--form-select-filter--search-input--width: 100%;

  --digi--form-select-filter--legend--font-weight: var(--digi--typography--preamble--font-weight--desktop);
  --digi--form-select-filter--legend--font-family: var(--digi--global--typography--font-family--default);
  --digi--form-select-filter--legend--font-size: var(--digi--typography--preamble--font-size--desktop);

  --digi--form-select-filter--toggle-button--border-width--neutral: var(--digi--border-width--input-regular);
  --digi--form-select-filter--toggle-button--border-color--neutral: var(--digi--color--border--neutral-3);
  --digi--form-select-filter--toggle-button--background--neutral: var(--digi--color--background--input);

  --digi--form-select-filter--toggle-button--border-width--success: var(--digi--border-width--input-validation);
  --digi--form-select-filter--toggle-button--border-color--success: var(--digi--color--border--success);
  --digi--form-select-filter--toggle-button--background--success: var(--digi--color--background--success-2);

  --digi--form-select-filter--toggle-button--border-width--warning: var(--digi--border-width--input-validation);
  --digi--form-select-filter--toggle-button--border-color--warning: var(--digi--color--border--warning-2);
  --digi--form-select-filter--toggle-button--background--warning: var(--digi--color--background--warning-2);

  --digi--form-select-filter--toggle-button--border-width--error: var(--digi--border-width--input-validation);
  --digi--form-select-filter--toggle-button--border-color--error: var(--digi--color--border--danger);
  --digi--form-select-filter--toggle-button--background--error: var(--digi--color--background--danger-2);
}

/** Do not touch! Autogenerated 
* @prop --digi--form-select-filter--footer--background: var(--digi--color--background--secondary);
* @prop --digi--form-select-filter--scroll--max-height: 10.625rem;
* @prop --digi--form-select-filter--scroll--padding: var(--digi--padding--small);
* @prop --digi--form-select-filter--reset-button--margin-right: var(--digi--padding--small);
* @prop --digi--form-select-filter--legend__border-bottom: var(--digi--border-width--primary) solid var(--digi--color--border--neutral-2);
* @prop --digi--form-select-filter--list--margin: 0;
* @prop --digi--form-select-filter--list--padding: var(--digi--gutter--small) 0 0 0;
* @prop --digi--form-select-filter--item--margin: var(--digi--gutter--small) 0;
* @prop --digi--form-select-filter--toggle-icon--transition: ease-in-out 0.2s all;
* @prop --digi--form-select-filter--dropdown--box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.7);
* @prop --digi--form-select-filter--dropdown--border-radius: var(--digi--border-radius--input);
* @prop --digi--form-select-filter--dropdown--background: var(--digi--color--background--primary);
* @prop --digi--form-select-filter--dropdown--min-width: 18.75rem;
* @prop --digi--form-select-filter--dropdown--margin-top: var(--digi--gutter--small);
* @prop --digi--form-select-filter--dropdown--z-index: 999;
* @prop --digi--form-select-filter--dropdown--header--background: var(--digi--color--border--neutral-2);
* @prop --digi--form-select-filter--dropdown--item--cursor: pointer;
* @prop --digi--form-select-filter--dropdown--item--height: auto;
* @prop --digi--form-select-filter--dropdown--item--min-height: 1.5rem;
* @prop --digi--form-select-filter--dropdown--item--color: var(--digi--color--text--primary);
* @prop --digi--form-select-filter--dropdown--item--font-size: var(--digi--typography--body--font-size--desktop);
* @prop --digi--form-select-filter--dropdown--item--font-family: var(--digi--global--typography--font-family--default);
* @prop --digi--form-select-filter--dropdown--item--font-weight--default: var(--digi--typography--link--font-weight--desktop);
* @prop --digi--form-select-filter--dropdown--item--font-weight--selected: var(--digi--typography--link-bold--font-weight--desktop);
* @prop --digi--form-select-filter--dropdown--item--font-weight--hover: var(--digi--typography--link-bold--font-weight--desktop);
* @prop --digi--form-select-filter--dropdown--item--letter-spacing: 0px;
* @prop --digi--form-select-filter--dropdown--item--line-height: 1.5;
* @prop --digi--form-select-filter--dropdown--item--margin-bottom: 0px;
* @prop --digi--form-select-filter--dropdown--item--border-width: var(--digi--border-width--primary);
* @prop --digi--form-select-filter--dropdown--item--border-type: var(--digi--border-style--primary);
* @prop --digi--form-select-filter--dropdown--item--border-color: var(--digi--color--border--neutral-2); //#CACACA i design
* @prop --digi--form-select-filter--dropdown--item--padding-y: var(--digi--margin--small);
* @prop --digi--form-select-filter--dropdown--item--padding-x: var(--digi--margin--largest);
* @prop --digi--form-select-filter--dropdown--item--multiple--padding-y: var(--digi--margin--small);
* @prop --digi--form-select-filter--dropdown--item--multiple--padding-x: var(--digi--padding--largest-2);
* @prop --digi--form-select-filter--dropdown--item--background-color--default: var(--digi--color--background--primary);
* @prop --digi--form-select-filter--dropdown--item--background-color--focus: var(--digi--color--background--neutral-6);
* @prop --digi--form-select-filter--dropdown--item--background-color--hover: var(--digi--color--background--neutral-6);
* @prop --digi--form-select-filter--dropdown--item--background-color--active: var(--digi--color--background--neutral-6);
* @prop --digi--form-select-filter--dropdown--item--background-color--selected: var(--digi--color--background--neutral-6);
* @prop --digi--form-select-filter--dropdown--item--checkbox--background-color: var(--digi--color--background--primary);
* @prop --digi--form-select-filter--dropdown--item--checkbox--border-color: var(--digi--color--border--primary);
* @prop --digi--form-select-filter--dropdown--item--checkbox--border-width: var(--digi--border-width--primary);
* @prop --digi--form-select-filter--dropdown--item--checkbox--border-style: var(--digi--border-style--primary);
* @prop --digi--form-select-filter--dropdown--item--checkbox--border-radius: var(--digi--border-radius--tertiary);
* @prop --digi--form-select-filter--dropdown--item--checkbox--width: 1.25rem;
* @prop --digi--form-select-filter--dropdown--item--checkbox--height: 1.25rem;
* @prop --digi--form-select-filter--toggle-button-indicator--color--default: transparent;
* @prop --digi--form-select-filter--toggle-button-indicator--color--active: var(--digi--color--border--success);
* @prop --digi--form-select-filter--toggle-button-indicator--width: 1rem;
* @prop --digi--form-select-filter--toggle-button-indicator--height: 1rem;
* @prop --digi--form-select-filter--toggle-button-indicator--margin-right: var(--digi--margin--small);
* @prop --digi--form-select-filter--toggle-button-indicator--margin-left: calc(var(--digi--margin--smaller) * -1);
* @prop --digi--form-select-filter--toggle-button--text--margin-right: var(--digi--margin--smaller);
* @prop --digi--form-select-filter--toggle-button-indicator--color: var(--digi--color--background--success-1);
* @prop --digi--form-select-filter--toggle-icon--width: 0.875rem;
* @prop --digi--form-select-filter--toggle-icon--height: 0.875rem;
* @prop --digi--form-select-filter--search-input--border-radius: var(--digi--border-radius--input);
* @prop --digi--form-select-filter--search-input--border-width: var(--digi--border-width--input-regular);
* @prop --digi--form-select-filter--search-input--border-style: var(--digi--border-style--primary);
* @prop --digi--form-select-filter--search-input--border-color: var(--digi--form-select-filter--toggle-button--border-width--neutral);
* @prop --digi--form-select-filter--search-input--height: var(--digi--input-height--medium);
* @prop --digi--form-select-filter--search-input--width: 100%;
* @prop --digi--form-select-filter--legend--font-weight: var(--digi--typography--preamble--font-weight--desktop);
* @prop --digi--form-select-filter--legend--font-family: var(--digi--global--typography--font-family--default);
* @prop --digi--form-select-filter--legend--font-size: var(--digi--typography--preamble--font-size--desktop);
* @prop --digi--form-select-filter--toggle-button--border-width--neutral: var(--digi--border-width--input-regular);
* @prop --digi--form-select-filter--toggle-button--border-color--neutral: var(--digi--color--border--neutral-3);
* @prop --digi--form-select-filter--toggle-button--background--neutral: var(--digi--color--background--input);
* @prop --digi--form-select-filter--toggle-button--border-width--success: var(--digi--border-width--input-validation);
* @prop --digi--form-select-filter--toggle-button--border-color--success: var(--digi--color--border--success);
* @prop --digi--form-select-filter--toggle-button--background--success: var(--digi--color--background--success-2);
* @prop --digi--form-select-filter--toggle-button--border-width--warning: var(--digi--border-width--input-validation);
* @prop --digi--form-select-filter--toggle-button--border-color--warning: var(--digi--color--border--warning-2);
* @prop --digi--form-select-filter--toggle-button--background--warning: var(--digi--color--background--warning-2);
* @prop --digi--form-select-filter--toggle-button--border-width--error: var(--digi--border-width--input-validation);
* @prop --digi--form-select-filter--toggle-button--border-color--error: var(--digi--color--border--danger);
* @prop --digi--form-select-filter--toggle-button--background--error: var(--digi--color--background--danger-2);
*/