@use './styles/expandable-faq-item.variations' as variations;
@use './styles/expandable-faq-item.variables' as *;
@use './../../../global/styles/utilities' as *;

:host {
  @include digi-expandable-faq-item--variables;
  display: block;

  .digi-expandable-faq-item {
    &--primary {
      @include variations.primary;
    }

    &--secondary {
      @include variations.secondary;
    }

    &--expanded {
      border-bottom-color: var(--BACKGROUND);
    }

    max-width: calc(
      var(--digi--paragraph-width--medium) + var(--digi--padding--largest-2)
    );
    padding-bottom: var(--digi--global--spacing--smallest-4);
    font-family: var(--digi--global--typography--font-family--default);

    &__header {
      background-color: var(--BACKGROUND);
      width: 100%;
      max-width: calc(
        var(--digi--paragraph-width--medium) + var(--digi--padding--largest-2)
      );

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      &--toggle-icon {
        margin-right: var(--digi--expandable-faq-item--icon--margin-right);
        transition: var(
          --digi--expandable-faq-item--header--toggle-icon--transition
        );

        &--expanded {
          transform: rotate(-180deg);
        }

        ::slotted([slot^='icon']) {
          --digi--icon--width: var(--digi--expandable-faq-item--icon--size);
          --digi--icon--height: var(--digi--expandable-faq-item--icon--size);
        }
      }
    }

    &__button {
      color: var(--digi--color--text--primary);
      background-color: var(--BACKGROUND);
      border: none;
      border-radius: 0;
      padding: var(--digi--expandable-faq-item--content--padding);
      font-size: var(--digi--expandable-faq-item--header--font-size);
      font-weight: var(--digi--expandable-faq-item--header--font-weight);
      width: 100%;
      display: flex;
      align-items: center;
      text-align: left;
      cursor: pointer;
      font-family: var(--digi--global--typography--font-family--default);

      &:hover {
        text-decoration: underline;
      }
      &:focus-visible {
        @include digi--focus();
      }
    }

    &__content {
      overflow-y: hidden;

      > div {
        padding: var(--digi--expandable-faq-item--content--padding);
        box-sizing: border-box;
        max-width: var(--digi--paragraph-width--medium);
      }

      &--animation {
        transition: var(--digi--expandable-faq-item--content--transition);
      }

      &--hidden {
        height: 0;
      }
    }
  }
}
