@mixin digi-form-radiobutton--variables() {
	--digi--form-radiobutton--border-color: var(--digi--color--border--primary);
	--digi--form-radiobutton--border-color--primary: var(--digi--color--border--radio-primary);
	--digi--form-radiobutton--border-color--secondary: var(--digi--color--border--radio-secondary);
	--digi--form-radiobutton--border-color--error: var(--digi--color--border--danger);
	--digi--form-radiobutton--box-shadow--error: var(--digi--color--border--danger);
	--digi--form-radiobutton--background-color: var(--digi--color--background--primary);
	--digi--form-radiobutton--background-color--primary: var(--digi--color--background--radio-primary);
	--digi--form-radiobutton--background-color--secondary: var(--digi--color--background--radio-secondary);
	--digi--form-radiobutton--background-color--error: var(--digi--color--background--danger-2);
	--digi--form-radiobutton--label--background-color--hover: var(--digi--color--background--input-empty);
	--digi--form-radiobutton--input--focus--shadow: var(--digi--shadow--input-focus);
	--digi--form-radiobutton--border-width: var(--digi--border-width--primary);
	--digi--form-radiobutton--color--marker: var(--digi--color--background--radio-marker);
	--digi--form-radiobutton--size: 1.25rem;
	--digi--form-radiobutton--marker--size: calc(var(--digi--typography--input--font-size--desktop-large) * 0.4);
	--digi--form-radiobutton--height: var(--digi--input-height--large);
	--digi--form-radiobutton--border-radius: var(--digi--border-radius--primary);
	--digi--form-radiobutton--padding: var(--digi--gutter--icon);
  --digi--form-radiobutton--padding--block: var(--digi--gutter--small);
	--digi--form-radiobutton--padding--inline: var(--digi--gutter--icon);
}

/** Do not touch! Autogenerated 
* @prop --digi--form-radiobutton--border-color: var(--digi--color--border--primary);
* @prop --digi--form-radiobutton--border-color--primary: var(--digi--color--border--radio-primary);
* @prop --digi--form-radiobutton--border-color--secondary: var(--digi--color--border--radio-secondary);
* @prop --digi--form-radiobutton--border-color--error: var(--digi--color--border--danger);
* @prop --digi--form-radiobutton--box-shadow--error: var(--digi--color--border--danger);
* @prop --digi--form-radiobutton--background-color: var(--digi--color--background--primary);
* @prop --digi--form-radiobutton--background-color--primary: var(--digi--color--background--radio-primary);
* @prop --digi--form-radiobutton--background-color--secondary: var(--digi--color--background--radio-secondary);
* @prop --digi--form-radiobutton--background-color--error: var(--digi--color--background--danger-2);
* @prop --digi--form-radiobutton--label--background-color--hover: var(--digi--color--background--input-empty);
* @prop --digi--form-radiobutton--input--focus--shadow: var(--digi--shadow--input-focus);
* @prop --digi--form-radiobutton--border-width: var(--digi--border-width--primary);
* @prop --digi--form-radiobutton--color--marker: var(--digi--color--background--radio-marker);
* @prop --digi--form-radiobutton--size: 1.25rem;
* @prop --digi--form-radiobutton--marker--size: calc(var(--digi--typography--input--font-size--desktop-large) * 0.4);
* @prop --digi--form-radiobutton--height: var(--digi--input-height--large);
* @prop --digi--form-radiobutton--border-radius: var(--digi--border-radius--primary);
* @prop --digi--form-radiobutton--padding: var(--digi--gutter--icon);
* @prop --digi--form-radiobutton--padding--block: var(--digi--gutter--small);
* @prop --digi--form-radiobutton--padding--inline: var(--digi--gutter--icon);
*/