@use '../../../global/styles/utilities' as *;
@use '../../../global/styles/styles-variables' as *;
@use './styles/header.variables' as *;
@use './../../../global/styles/utilities' as *;

:host {
  display: block;
  $base: '.digi-header';
  @include digi-header--variables;

  #{$base} {
    &__logo {
      display: flex;
      width: 100%;
      align-items: stretch;
      padding-top: var(--digi--header--padding);
      padding-bottom: var(--digi--header--padding);
      border-bottom: var(--digi--header--border-width) solid
        var(--digi--header--border-color);
    }

    &__logo-link {
      text-decoration: none;
    }

    &__content {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &__wrapper {
      position: relative;
    }

    ::slotted(a[slot='header-logo']) {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    ::slotted(a[slot='header-logo']):focus-visible {
      @include digi--focus--inset();
    }

    ::slotted(div[slot='header-content']) {
      @include digi-header--variables;
      display: flex;
      align-items: center;
      padding-right: var(--digi--header--padding-right);
    }


  }


}
