@use '../../../global/styles-variables' as *;

.title-container {
  margin-bottom: 2rem;
}

.logo-paragraph-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.illustration-first-image {
  width: 35%;
  margin-bottom: 2.8rem;
}
.illustration-second-image {
  width: 40%;
  margin-bottom: 2rem;
}

.illustration-third-image {
  width: 35%;
  margin-bottom: 2rem;
}
.illustration-fourth-image {
  width: 60%;
  margin-bottom: 2.4rem;
}

.image-paragraph {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $digi--breakpoint--large) {
  .mobile-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .image-paragraph {
    display: none;
  }
  .mobile-first-image {
    width: 15%;
  }
  .mobile-second-image {
    width: 20%;
  }
  .mobile-third-image {
    width: 15%;
  }
  .mobile-fourth-image {
    width: 30%;
  }
  .mobile-wrapper {
    display: flex;
    flex-direction: column;
  }
  .mobile-paragraph-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $digi--breakpoint--large) {
  .mobile-first-image {
    display: none;
  }
  .mobile-second-image {
    display: none;
  }
  .mobile-third-image {
    display: none;
  }
  .mobile-fourth-image {
    display: none;
  }
  .mobile-paragraph-container {
    display: none;
  }
}
