:host {
  display: block;

  // digi-layout-block .example	{
  //   padding-top: 30px;
  // }
  .graph {
    max-width: 50rem;
  }
  .content_grid {
    display: grid;
    align-items: center;
  }
  h2 {
    max-width: var(--digi--paragraph-width--medium);
  }
}
