@use '../../../global/styles/utilities' as *;
@use '../../../global/styles/styles-variables' as *;
@use './styles/header-navigation-item.variables' as *;
@use './../../../global/styles/utilities' as *;

:host {
  @include header-navigation-item--variables;
  display: block;

  ::slotted(a) {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: $digi--padding--medium;
    color: var(--digi--header-navigation-item--color);
    font-family: var(--digi--header-navigation-item--font-family);
    font-size: var(--digi--header-navigation-item--font-size);
  }

  ::slotted(a:hover),
  ::slotted(a:active),
  ::slotted(a:focus-visible) {
    background-color: var(--digi--color--background--neutral-6);
    color: var(--digi--header-navigation-item--color-hover);
    text-decoration: underline;
  }

  ::slotted(a:focus-visible) {
    @include digi--focus--inset();
  }
}

.digi-header-navigation-item-indicator{
  visibility: hidden;
  height: 0.25rem;
      width: 100%;
      background-color: $digi--color--border--tertiary;
      &--active{
        visibility: visible;
      }
}


.digi-header-navigation-item--active{
  ::slotted(a) {
    font-weight: bold;
    }
}
