@use '../../../global/styles/styles-variables' as *;
@use '../../../global/styles/utilities' as *;

:host {
  .digi-util-breakpoint-observer {
    --SMALL: small;
    --MEDIUM: medium;
    --LARGE: large;
    --XLARGE: xlarge;

    &__observer {
      --digi--util-breakpoint-observer--breakpoint: var(--SMALL);

      @include digi--a11y--sr-only;

      pointer-events: none;
      transition: transform 0.01s;
      transform: rotate(0deg);

      @media (min-width: $digi--breakpoint--medium) {
        --digi--util-breakpoint-observer--breakpoint: var(--MEDIUM);

        transform: rotate(10deg);
      }

      @media (min-width: $digi--container-width--large) {
        --digi--util-breakpoint-observer--breakpoint: var(--LARGE);

        transform: rotate(20deg);
      }

      @media (min-width: $digi--breakpoint--x-large) {
        --digi--util-breakpoint-observer--breakpoint: var(--XLARGE);

        transform: rotate(30deg);
      }
    }
  }
}
