@import 'styles/link-external.variables';

:host {
  @include digi-link-external--variables;

  .digi-link-external {
    --digi--link--gap: var(--digi--link-external--gap);
    --digi--link--color--default: var(--digi--link-external--color--default);
    --digi--link--color--hover: var(--digi--link-external--color--hover);
    --digi--link--color--visited: var(--digi--link-external--color--visited);
    --digi--link--font-size--large: var(
      --digi--link-external--font-size--large
    );
    --digi--link--font-size--small: var(
      --digi--link-external--font-size--small
    );
    --digi--link--font-family: var(--digi--link-external--font-family);
    --digi--link--font-weight: var(--digi--link-external--font-weight);
    --digi--link--text-decoration--default: var(
      --digi--link-external--text-decoration--default
    );
    --digi--link--text-decoration--hover: var(
      --digi--link-external--text-decoration--hover
    );
    --digi--link--text-decoration--icon--default: var(
      --digi--link-external--text-decoration--icon--default
    );
    --digi--link--text-decoration--icon--hover: var(
      --digi--link-external--text-decoration--icon--hover
    );
  }
}
