:host {
  display: block;

  .digi-docs__about-logotype {
    display: inline;
    &--container {
      display: flex;
      flex-direction: column;
      row-gap: var(--digi--padding--large);
      max-width: var(--digi--paragraph-width--medium);
    }
    &--image--frizon {
      // margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: var(--digi--paragraph-width--medium);
      // width:620px;
    }
    &--image--size {
      // margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: var(--digi--paragraph-width--medium);
      // width:499px;
      // height: 117px;
    }
    &--info-card-container {
      max-width: var(--digi--paragraph-width--medium);
    }
    &--variation-container {
      display: flex;
      flex-direction: column;
      row-gap: var(--digi--padding--largest);
      max-width: var(--digi--paragraph-width--medium);
    }

    &--variation-wrapper {
      display: flex;
      flex-wrap: nowrap;
      column-gap: var(--digi--padding--medium);
    }
    &--titlelogotype-wrapper {
      display: block;
      // width:347px;
      max-width: var(--digi--paragraph-width--medium);
    }
    &--favicon-wrapper {
      display: block;
      // width:550px;
      max-width: var(--digi--paragraph-width--medium);
    }
  }
}
