@use '../../../../global/styles/styles-variables' as *;

@mixin border {
  --BORDER: var(--digi--footer-card--border-bottom);
  --LINK-SIZE: var(--digi--typography--heading-3--font-size--mobile);

  @media (min-width: $digi--breakpoint--large) {
    --LINK-SIZE: var(--digi--typography--heading-3--font-size--desktop);
  }
}

@mixin icon {
  --LINK-DECORATION: none;
}
