@mixin primary() {
  --INDICATOR--CIRCLE--COLOR: var(
    --digi--progress-list-item--indicator--color--primary
  );
}

@mixin secondary() {
  --INDICATOR--CIRCLE--COLOR: var(
    --digi--progress-list-item--indicator--color--secondary
  );
}

@mixin tertiary() {
  --INDICATOR--CIRCLE--COLOR: var(
    --digi--progress-list-item--indicator--color--tertiary
  );
}
