:host {
  display: block;

  .digi-badge-notification-details {
    .sc-digi-badge-notification-h digi-badge-notification {
      position: absolute;
      top: rem(58);
      left: rem(91);
    }
  }
}
