@use '../../../global/styles-variables' as *;
@use '../../../global/utilities' as *;

:host {
  $example-breakpoint: 1080px;
  display: block;

  .digi-docs-about-graphics {
    padding-bottom: var(--digi--global--spacing--largest-7);

    .examples {
      margin-block: var(--digi--global--spacing--largest-4);
      max-width: rem(800);

      @media screen and (max-width: $example-breakpoint) {
        max-width: 100%;
      }

      &--two-columns {
        @media screen and (min-width: $example-breakpoint) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          grid-column-gap: var(--digi--padding--large);
        }

        @media screen and (max-width: $example-breakpoint) {
          > *:last-child {
            margin-top: var(--digi--global--spacing--largest-6);
          }
        }
      }
    }

    .text-ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .heading--no-margin-top {
      margin-top: 0;
    }

    img:not(.image-list) {
      width: 100%;
      box-sizing: border-box;
    }

    img.image-list {
      margin-bottom: var(--digi--global--spacing--smaller);
    }
  }
}
