@use '../../../global/styles-variables' as *;

.text-side-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--digi--padding--large);
  margin: 2rem 0 2rem 0;

  &--logos {
    width: 2rem;

  }
  &--gitlab-logo {
    margin-left: 1rem;
    width: 2rem;
  }
}

.open-source-side-image {
  width: 397px;
  height: 285px;
}

.website-side-by-side-illustration {
  width: 3rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media screen and (max-width: $digi--breakpoint--large) {
  .text-side-image-container {
    flex-direction: column-reverse;
    gap: 3rem;
    
    &--logos {
      display: none;
    }
  }
  
  .open-source-side-image {
    width: 100%;
  }
}
