@mixin digi-calendar-week-view--variables() {
	--digi--calendar-week-view--button--week--padding: calc(#{var(--digi--gutter--small)} + 1px) var(--digi--gutter--largest-2);
	--digi--calendar-week-view--button--week--icon--width: var(--digi--gutter--medium);
	--digi--calendar-week-view--button--week--display: flex;
	--digi--calendar-week-view--button--week--justify-content: center;

	--digi--calendar-week-view--button--week--previous-button--border-radius: var(--digi--global--border-radius--base) 0 0 var(--digi--global--border-radius--base);
	--digi--calendar-week-view--button--week--next-button--border-radius: 0 var(--digi--global--border-radius--base) var(--digi--global--border-radius--base) 0;

	--digi--calendar-week-view--button--week--width: 9.75rem;
	--digi--calendar-week-view--button--week--width--small: 7.85rem;
	--digi--calendar-week-view--button--week--margin: 0.125rem;
	--digi--calendar-week-view--button--week--font-size: var(--digi--button--font-size--small);
	--digi--calendar-week-view--button--week--keep-right--margin: 10rem;
	--digi--calendar-week-view--button--week--keep-right--margin--small: 8.1rem;
	--digi--calendar-week-view--button--week--background: var(--digi--color--background--primary);
	--digi--calendar-week-view--button--week--border-color: var(--digi--color--border--secondary);

	--digi--calendar-week-view--button--date--color: var(--digi--color--text--primary);
	--digi--calendar-week-view--button--date--color--active: var(--digi--color--text--inverted);
	--digi--calendar-week-view--button--date--color--no-value: var(--digi--color--text--primary);

	--digi--calendar-week-view--button--date--background: var(--digi--color--background--primary);
	--digi--calendar-week-view--button--date--background--active: var(--digi--color--background--complementary-1);
	--digi--calendar-week-view--button--date--background--no-value: var(--digi--color--background--neutral-6);

	--digi--calendar-week-view--button--date--border-color: var(--digi--color--border--secondary);
	--digi--calendar-week-view--button--date--border-color--active: var(--digi--color--border--secondary);
	--digi--calendar-week-view--button--date--border-color--no-value: var(--digi--color--border--neutral-3);

	--digi--calendar-week-view--button--date--border-radius: 0;
	--digi--calendar-week-view--button--date--padding: 16px 10px 25px 10px;
	--digi--calendar-week-view--button--date--font-size: var(--digi--button--font-size--small);
	--digi--calendar-week-view--button--date--box-shadow--active: inset 0 0 0 0.1875rem var(--digi--color--background--primary);
	--digi--calendar-week-view--button--date--width: 3.75rem;
	--digi--calendar-week-view--button--date--width--small: 3rem;

	--digi--calendar-week-view--today-circle--size: 0.3125rem;
	--digi--calendar-week-view--today-circle--background: var(--digi--color--background--complementary-1);
	--digi--calendar-week-view--today-circle--background--no-value: var(--digi--color--text--primary);
	--digi--calendar-week-view--today-circle--background--active: var(--digi--color--text--inverted);

	--digi--calendar-week-view--dates--margin: 0 0 var(--digi--gutter--smaller) 0;
	--digi--calendar-week-view--dates--gap: var(--digi--gutter--smaller);
}

/** Do not touch! Autogenerated 
* @prop --digi--calendar-week-view--button--week--padding: calc(#{var(--digi--gutter--small)} + 1px) var(--digi--gutter--largest-2);
* @prop --digi--calendar-week-view--button--week--icon--width: var(--digi--gutter--medium);
* @prop --digi--calendar-week-view--button--week--display: flex;
* @prop --digi--calendar-week-view--button--week--justify-content: center;
* @prop --digi--calendar-week-view--button--week--previous-button--border-radius: var(--digi--global--border-radius--base) 0 0 var(--digi--global--border-radius--base);
* @prop --digi--calendar-week-view--button--week--next-button--border-radius: 0 var(--digi--global--border-radius--base) var(--digi--global--border-radius--base) 0;
* @prop --digi--calendar-week-view--button--week--width: 9.75rem;
* @prop --digi--calendar-week-view--button--week--width--small: 7.85rem;
* @prop --digi--calendar-week-view--button--week--margin: 0.125rem;
* @prop --digi--calendar-week-view--button--week--font-size: var(--digi--button--font-size--small);
* @prop --digi--calendar-week-view--button--week--keep-right--margin: 10rem;
* @prop --digi--calendar-week-view--button--week--keep-right--margin--small: 8.1rem;
* @prop --digi--calendar-week-view--button--week--background: var(--digi--color--background--primary);
* @prop --digi--calendar-week-view--button--week--border-color: var(--digi--color--border--secondary);
* @prop --digi--calendar-week-view--button--date--color: var(--digi--color--text--primary);
* @prop --digi--calendar-week-view--button--date--color--active: var(--digi--color--text--inverted);
* @prop --digi--calendar-week-view--button--date--color--no-value: var(--digi--color--text--primary);
* @prop --digi--calendar-week-view--button--date--background: var(--digi--color--background--primary);
* @prop --digi--calendar-week-view--button--date--background--active: var(--digi--color--background--complementary-1);
* @prop --digi--calendar-week-view--button--date--background--no-value: var(--digi--color--background--neutral-6);
* @prop --digi--calendar-week-view--button--date--border-color: var(--digi--color--border--secondary);
* @prop --digi--calendar-week-view--button--date--border-color--active: var(--digi--color--border--secondary);
* @prop --digi--calendar-week-view--button--date--border-color--no-value: var(--digi--color--border--neutral-3);
* @prop --digi--calendar-week-view--button--date--border-radius: 0;
* @prop --digi--calendar-week-view--button--date--padding: 16px 10px 25px 10px;
* @prop --digi--calendar-week-view--button--date--font-size: var(--digi--button--font-size--small);
* @prop --digi--calendar-week-view--button--date--box-shadow--active: inset 0 0 0 0.1875rem var(--digi--color--background--primary);
* @prop --digi--calendar-week-view--button--date--width: 3.75rem;
* @prop --digi--calendar-week-view--button--date--width--small: 3rem;
* @prop --digi--calendar-week-view--today-circle--size: 0.3125rem;
* @prop --digi--calendar-week-view--today-circle--background: var(--digi--color--background--complementary-1);
* @prop --digi--calendar-week-view--today-circle--background--no-value: var(--digi--color--text--primary);
* @prop --digi--calendar-week-view--today-circle--background--active: var(--digi--color--text--inverted);
* @prop --digi--calendar-week-view--dates--margin: 0 0 var(--digi--gutter--smaller) 0;
* @prop --digi--calendar-week-view--dates--gap: var(--digi--gutter--smaller);
*/