/* You can add global styles to this file, and also import other style files */
@import '../../../../../dist/libs/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '../../../../../dist/libs/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
