:host {
  display: block;

  .digi-docs-colors-print {
    &__colors-wrapper {
      padding-top: var(--digi--padding--small);
      padding-bottom: var(--digi--padding--small);
      max-width: var(--digi--container-width--large);
    }
  }
}
