.digi-docs-forskning--image {
  width: auto;
  height: auto;
  max-width: 10rem;
}

.digi-docs-home-content-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-block: var(--digi--global--spacing--largest-7);
  margin-top: 3rem;

  &--media-right {
    .digi-docs-home-content-blocks__media {
      order: 0;
      @media screen and (min-width: 87.5rem) {
        order: 1;
        flex: 1 0 0;

        .digi-docs-home-content-blocks__media-image {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .digi-docs-home-content-blocks__text {
      padding-left: 0;
    }
  }

  &__text {
    padding-right: var(--digi--padding--large);
    padding-left: var(--digi--padding--large);
  }

  &__heading {
    margin-bottom: var(--digi--global--spacing--largest-3);
  }

  &__preamble {
    margin-top: var(--digi--global--spacing--base);
    margin-bottom: var(--digi--global--spacing--largest-3);
    max-width: var(--digi--paragraph-width--large);
    width: 100%;
  }

  &__media {
    &-image {
      display: block;
      max-width: 400px;
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 87.5rem) {
    flex-direction: column;

    &__text {
      padding-left: 0px;
    }
  }

  @media screen and (min-width: 87.5rem) {
    h2 {
      margin-top: 0px;
    }
  }
}
