@use './styles/progress-list.variations' as variations;
@use './styles/progress-list.variables' as *;

:host {
  @include digi-progress-list--variables;
  $base: '.digi-progress-list';

  .digi-progress-list {
    &--primary {
      @include variations.primary;
    }

    &--secondary {
      @include variations.secondary;
    }

    &--tertiary {
      @include variations.tertiary;
    }

    &__header {
      font-size: var(--digi--progress-list--heading--font-size);
      font-weight: var(--digi--progress-list--heading--font-weight);
      margin-bottom: var(--digi--progress-list--heading--margin-bottom);
    }
    &__content {
      margin-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      padding-top: var(--digi--progress-list--content--padding-top);
    }
  }
}
