<digi-layout-block>
  <digi-typography-heading-jumbo af-text="Grid"></digi-typography-heading-jumbo>
  <p>grid works!</p>
</digi-layout-block>
<digi-layout-block [attr.af-container]="LayoutBlockContainer.NONE">
  <h2>Layoutblock - container.NONE</h2>
</digi-layout-block>
<digi-layout-block [attr.af-container]="LayoutBlockContainer.FLUID">
  <h2>Layoutblock - container.FLUID</h2>
</digi-layout-block>
<digi-layout-block [attr.af-container]="LayoutBlockContainer.STATIC">
  <h2>Layoutblock - container.STATIC</h2>
</digi-layout-block>
