.value-accessor {
  position: fixed;
  z-index: 1;
  bottom: var(--digi--padding--large);
  right: var(--digi--padding--large);
  box-sizing: border-box;
  padding: var(--digi--padding--medium);
  background: var(--digi--color--background--primary);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
  min-width: 21rem;
}

.date-list {
  display: flex;
  gap: var(--digi--padding--medium);
  margin-block: var(--digi--padding--largest);

  &,
  li {
    padding: 0;
    margin-inline: 0;
    list-style: none;
  }
}
