<digi-layout-block af-vertical-padding="true">
  <digi-typography-heading-jumbo
    af-text="Datepicker med value accessor"></digi-typography-heading-jumbo>

  <div class="value-accessor">
    <pre>myForm: {{ myForm.value | json }}</pre>
  </div>

  <h2>Uppdaterad version</h2>
  <p>Använder sig av valueAccessor.</p>

  <form [formGroup]="myForm">
    <digi-calendar-datepicker
      [attr.af-multiple-dates]="true"
      [afMinDate]="minDate"
      [afMaxDate]="maxDate"
      (afOnDateChange)="dateChangeHandler($event)"
      formControlName="myDatepicker">
    </digi-calendar-datepicker>
  </form>

  <ul class="date-list">
    @for (date of selectedDates(); track $index) {
      <li>
        <digi-tag
          [attr.af-text]="formatDate(date)"
          [attr.af-size]="'small'"
          [attr.af-no-icon]="false"
          (afOnClick)="tagClickHandler($event)"></digi-tag>
      </li>
    }
  </ul>

  <h2>Utan valueAccessor</h2>
  <p>
    Läser in det gamla exemplet från Playground, som endast använder sig av en
    Array. För att se att ändringarna inte påverkar andra sättet att använda
    komponenten.
  </p>
  <digi-datepicker></digi-datepicker>
</digi-layout-block>
