@use '../../global/styles-variables' as *;
@use '../../global/utilities' as *;

:host {
  .digi-docs-grid-list {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto auto auto 1fr;
    column-gap: var(--digi--padding--medium);
    row-gap: var(--digi--padding--large);

    grid-template-columns: rem(150) 1fr;

    @media screen and (max-width: $digi--breakpoint--small-below) {
      grid-template-columns: rem(135) 1fr;
    }

    @media screen and (min-width: $digi--breakpoint--large) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: $digi--breakpoint--x-large) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: var(--digi--padding--large);
    }
  }
}
