@use '../../../global/styles-variables' as *;
@use '../../../../../../../libs/arbetsformedlingen/styles/src/mixins/a11y--sr-only' as a11y;

.digi-docs-home-architecture-container {
  display: block;
  @media screen and (min-width: $digi--breakpoint--large) {
    margin-top: 3rem;
  }
}

.screen-reader {
    @include a11y.digi--a11y--sr-only;
}

.architect-image {
  width: 80%;
  margin-top: 2em;
}

.architect-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

@media screen and (max-width: $digi--breakpoint--small) {
    .architect-image {
        width: 100%;
        margin-top: 0;
        margin-bottom: 1em;
    }
    .architect-image-container {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}