@use '../../../global/styles/styles-variables' as *;
@use 'styles/link-button.variables' as *;
@use 'styles/link-button.variations' as variations;
@use '../../../global/styles/utilities' as *;
@use './../../../global/styles/utilities' as *;

:host {
  @include digi-link-button--variables;

  $base: '.digi-link-button';

  --BADGE--RIGHT: 1.75rem;
  --LINK--HEIGHT: 2.5rem;
  &#{$base}--medium {
    @include variations.medium;

    a {
      height: var(--LINK--HEIGHT);
    }
  }

  &#{$base}--medium-large {
    @include variations.medium-large;

    a {
      height: var(--LINK--HEIGHT);
    }
  }

  &#{$base}--large {
    @include variations.large;

    a {
      height: var(--LINK--HEIGHT);
    }
  }

  &#{$base}--primary {
    @include variations.primary;
  }

  &#{$base}--primary-alt {
    @include variations.primary-alt;
  }

  &#{$base}--secondary {
    @include variations.secondary;
  }

  &#{$base}--secondary-alt {
    @include variations.secondary-alt;
  }
}

::slotted(a digi-badge-notification) {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: var(--BADGE--RIGHT);
}

::slotted(a) {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--digi--link-button--font-family);
  font-size: var(--FONT-SIZE);
  font-weight: var(--digi--link-button--font-weight);
  background: var(--BACKGROUND--DEFAULT);
  padding: var(--PADDING);
  border-radius: var(--digi--link-button--border-radius);
  border: var(--digi--link-button--border);
  border-color: var(--BORDER-COLOR--DEFAULT);
  box-sizing: border-box;
  white-space: nowrap;

  &,
  &:visited {
    color: var(--COLOR--DEFAULT);
  }

  &:hover,
  &:focus-visible,
  &:active {
    background: var(--BACKGROUND--HOVER);
    color: var(--COLOR--HOVER);
    border-color: var(--BORDER-COLOR--HOVER);

    .digi-link-button__icon {
      --COLOR--DEFAULT: var(--COLOR--HOVER);
    }
  }

  &:focus-visible {
    @include digi--focus();
  }


  .digi-link-button--hide-icon & {
    [class*='digi-icon'],
    .digi-link-button__icon {
      display: none;
    }
  }

  .digi-link-button--fullwidth & {
    width: 100%;
  }

  [class*='digi-icon'],
  .digi-link-button__icon {
    margin-left: var(--ICON--MARGIN-LEFT);
    --digi--icon--color: var(--COLOR--DEFAULT);
  }
}
