.datepickers {
  display: flex;
  padding: 20px 0px;
  .datepicker {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
.selected-dates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 10px;
  p {
    width: fit-content;
    margin: -27px 0px 10px 0px;
    padding: 5px 20px;
    background-color: #eee;
    border-radius: 20px;
  }
  .dates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .date {
      margin: 10px;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 15px;
    }
  }
}
.attributes {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 10px;
  .attribute-row {
    margin-bottom: 10px;
  }
  p {
    width: fit-content;
    margin: -27px 0px 10px 0px;
    padding: 5px 20px;
    background-color: #eee;
    border-radius: 20px;
  }
}
