@use '../../../global/styles/utilities' as *;
@use '../../../global/styles/styles-variables' as *;
@use './styles/header-navigation.variables' as *;

:host {
  @include digi-header--variables;
  display: block;
  $base: '.digi-header-navigation';

  #{$base} {
    z-index: 99;

    &__backdrop {
      background-color: var(--digi--header--backdrop--background-color);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    &__wrapper {
      display: none;
      grid-area: nav;
      background-color: var(--digi--color--background--neutral-8);
      border-bottom: var(--digi--header--border-width) solid
        var(--digi--header--border-color);
    }

    &--visible {
      .digi-header-navigation__wrapper {
        display: block;
      }
    }

    &__close-button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: var(--digi--header--close-button--padding) 0;
    }

    &--mobile {
      width: 0;
      position: fixed;
      height: 100%;
      right: 0;
      top: 0;
      visibility: hidden;

      .digi-header-navigation__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transform: translateX(100%);
        width: 90vw;
        transition: ease var(--digi--animation--duration--base) all;
        overflow-y: auto;
      }

      .digi-header-navigation__inner {
        padding: 0;
        display: block;

        ::slotted(digi-header-navigation-item:first-child) {
          border-top: 1px solid var(--digi--header--border-color);
        }

        ::slotted(digi-header-navigation-item) {
          border-bottom: 1px solid var(--digi--header--border-color);
        }
      }
    }

    &--open {
      visibility: visible;

      .digi-header-navigation__wrapper {
        transform: translateX(0);
      }

      .digi-header-navigation__backdrop {
        display: block;
      }
    }

    &__inner {
      list-style: none;
      margin: 0;
      display: flex;
    }

    &__navigation-link {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: $digi--padding--medium;

      &--active-link {
        font-weight: $digi--typography--link-bold--font-weight--desktop;
        box-shadow: inset 0 -4px 0 0 $digi--color--border--tertiary;
      }

      &:hover {
        background-color: var(--digi--color--background--neutral-6);
      }
    }
  }
}
