@mixin digi-link-button--variables() {
  --digi--link-button--font-size--medium: var(--digi--typography--button--font-size--desktop);
  --digi--link-button--font-size--large: var(--digi--typography--button--font-size--desktop-large);
  --digi--link-button--font-family: var(--digi--global--typography--font-family--default);
  --digi--link-button--font-weight: var(--digi--typography--button--font-weight--desktop);
  --digi--link-button--padding--medium: var(--digi--gutter--medium) var(--digi--gutter--largest);
  --digi--link-button--padding--medium-large: var(--digi--gutter--larger) var(--digi--gutter--largest-3);
  --digi--link-button--padding--large: var(--digi--gutter--largest) var(--digi--gutter--largest-3);
  --digi--link-button--border: var(--digi--border-width--secondary) solid;
  --digi--link-button--border-radius: var(--digi--global--border-radius--largest-2);
  --digi--link-button--icon--margin-left: var(--digi--margin--large);

  --digi--link-button--color--primary--default: var(--digi--color--text--inverted);
  --digi--link-button--color--primary--hover: var(--digi--color--text--inverted);
  --digi--link-button--background--primary--default: var(--digi--color--background--inverted-1);
  --digi--link-button--background--primary--hover: var(--digi--color--background--inverted-6);
  --digi--link-button--border-color--primary--default: var(--digi--color--background--inverted-1);
  --digi--link-button--border-color--primary--hover: var(--digi--color--background--inverted-6);
  
  --digi--link-button--color--primary-alt--default: var(--digi--color--text--secondary);
  --digi--link-button--color--primary-alt--hover: var(--digi--color--text--secondary);
  --digi--link-button--background--primary-alt--default: var(--digi--color--background--neutral-2);
  --digi--link-button--background--primary-alt--hover: var(--digi--color--background--inverted-4);
  --digi--link-button--border-color--primary-alt--default: var(--digi--color--background--neutral-2);
  --digi--link-button--border-color--primary-alt--hover: var(--digi--color--background--inverted-4);

  --digi--link-button--color--secondary--default: var(--digi--color--text--secondary);
  --digi--link-button--color--secondary--hover: var(--digi--color--text--secondary);
  --digi--link-button--background--secondary--default: var(--digi--color--background--primary);
  --digi--link-button--background--secondary--hover: var(--digi--color--background--neutral-8);
  --digi--link-button--border-color--secondary--default: var(--digi--color--border--secondary);
  --digi--link-button--border-color--secondary--hover: var(--digi--color--border--secondary);
  
  --digi--link-button--color--secondary-alt--default: var(--digi--color--background--neutral-2);
  --digi--link-button--color--secondary-alt--hover: var(--digi--color--text--secondary);
  --digi--link-button--background--secondary-alt--default: var(--digi--color--background--inverted-1);
  --digi--link-button--background--secondary-alt--hover: var(--digi--color--background--inverted-4);
  --digi--link-button--border-color--secondary-alt--default: var(--digi--color--border--tertiary);
  --digi--link-button--border-color--secondary-alt--hover: var(--digi--color--background--inverted-4);
}

/** Do not touch! Autogenerated 
* @prop --digi--link-button--font-size--medium: var(--digi--typography--button--font-size--desktop);
* @prop --digi--link-button--font-size--large: var(--digi--typography--button--font-size--desktop-large);
* @prop --digi--link-button--font-family: var(--digi--global--typography--font-family--default);
* @prop --digi--link-button--font-weight: var(--digi--typography--button--font-weight--desktop);
* @prop --digi--link-button--padding--medium: var(--digi--gutter--medium) var(--digi--gutter--largest);
* @prop --digi--link-button--padding--medium-large: var(--digi--gutter--larger) var(--digi--gutter--largest-3);
* @prop --digi--link-button--padding--large: var(--digi--gutter--largest) var(--digi--gutter--largest-3);
* @prop --digi--link-button--border: var(--digi--border-width--secondary) solid;
* @prop --digi--link-button--border-radius: var(--digi--global--border-radius--largest-2);
* @prop --digi--link-button--icon--margin-left: var(--digi--margin--large);
* @prop --digi--link-button--color--primary--default: var(--digi--color--text--inverted);
* @prop --digi--link-button--color--primary--hover: var(--digi--color--text--inverted);
* @prop --digi--link-button--background--primary--default: var(--digi--color--background--inverted-1);
* @prop --digi--link-button--background--primary--hover: var(--digi--color--background--inverted-6);
* @prop --digi--link-button--border-color--primary--default: var(--digi--color--background--inverted-1);
* @prop --digi--link-button--border-color--primary--hover: var(--digi--color--background--inverted-6);
* @prop --digi--link-button--color--primary-alt--default: var(--digi--color--text--secondary);
* @prop --digi--link-button--color--primary-alt--hover: var(--digi--color--text--secondary);
* @prop --digi--link-button--background--primary-alt--default: var(--digi--color--background--neutral-2);
* @prop --digi--link-button--background--primary-alt--hover: var(--digi--color--background--inverted-4);
* @prop --digi--link-button--border-color--primary-alt--default: var(--digi--color--background--neutral-2);
* @prop --digi--link-button--border-color--primary-alt--hover: var(--digi--color--background--inverted-4);
* @prop --digi--link-button--color--secondary--default: var(--digi--color--text--secondary);
* @prop --digi--link-button--color--secondary--hover: var(--digi--color--text--secondary);
* @prop --digi--link-button--background--secondary--default: var(--digi--color--background--primary);
* @prop --digi--link-button--background--secondary--hover: var(--digi--color--background--neutral-8);
* @prop --digi--link-button--border-color--secondary--default: var(--digi--color--border--secondary);
* @prop --digi--link-button--border-color--secondary--hover: var(--digi--color--border--secondary);
* @prop --digi--link-button--color--secondary-alt--default: var(--digi--color--background--neutral-2);
* @prop --digi--link-button--color--secondary-alt--hover: var(--digi--color--text--secondary);
* @prop --digi--link-button--background--secondary-alt--default: var(--digi--color--background--inverted-1);
* @prop --digi--link-button--background--secondary-alt--hover: var(--digi--color--background--inverted-4);
* @prop --digi--link-button--border-color--secondary-alt--default: var(--digi--color--border--tertiary);
* @prop --digi--link-button--border-color--secondary-alt--hover: var(--digi--color--background--inverted-4);
*/